

/*källa : http://www.java2s.com/example/html-css/css-widget/create-hexagon-shape-with-border.html*/
.hexagon {
    display: inline-block;
    position: relative;
    width: 190px;
    height: 109.70px;
    background-color: #64C7CC;
    margin: 54.85px 0;
    border-left: dashed 10px black;
    border-right: dashed 10px black;
 }
 .hexagon:before,
 .hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 134.35px;
    height: 134.35px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 17.8249px;
 }
 .hexagon:before {
    top: -67.1751px;
    border-top: dashed 14.1421px black;
    border-right: dashed 14.1421px black;
 }
 .hexagon:after {
    bottom: -67.1751px;
    border-bottom: dashed 14.1421px black;
    border-left: dashed 14.1421px black;
 }
 *,*:before,*:after {
    box-sizing:border-box;
 }